body {
    background-color: rgb(31, 28, 28);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.15rem;
}

footer {
    background-color: rgb(67, 68, 71);
    padding: 2.5rem;
    border-radius: 0.3rem;
}

a {
    color: rgb(199, 20, 85);
}

ul {
    list-style-type: square;
}

.header-margin {
    background: white url(images/hero4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgb(67, 68, 71);
    padding: 2rem;
    margin: 2rem 1.5rem 2rem 2rem;
    border-radius: 0.3rem;
}

.navigation-div {
    padding: 2rem;
    background-color: rgb(67, 68, 71);
    width: 15%;
    margin: 1.5rem 1.5rem 2rem 2rem;
    border-radius: 0.3rem;
}

.main-margin {    
    margin: 2.5rem;
}

#links-on-grey {
    color: rgb(120, 11, 49);
}

#image-circle {
    border-radius: 50%;
}

.separate-content {
    display: flex;   
}

.separator-one {
    flex: auto;
}

.separator-two {
    justify-content: flex-end;
}

label {
    width: 4rem;
    display: inline-block;
}




